#main-popup{
  position: fixed;
  border: 1px solid #215fd1;
  border-radius: 20px;
  z-index: 99999;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#exit {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 background: none;
	 position: fixed;
	 width: 26px;
	 height: 26px;
   top: 5%;
   left: 87%;
   transform: translateY(-5%) translateX(87%);
   cursor: pointer;
}
#header{
  cursor: not-allowed;
}
#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
}
#name{
  padding: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid #215fd1;
  width:90%;
  color: #0e120f;
  font-size: 20px;
}
#phone{
  padding: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid #215fd1;
  width: 90%;
  color: #0e120f;
  font-size: 20px;
}
#button{
  color: #ffff;
  border-color: #f73942;
  background-color: #ff000d;
  font-size: 26px;
  font-family: Arial;
  border-radius: 6px;
  height: 100%;
  width: 97%;
}
#button:hover{
  background-color: #0088ff;
}
