#main-popup{
  position: fixed;
  border: 1px solid #215fd1;
  border-radius: 20px;
  z-index: 99999;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#exit{
  position: fixed;
  height: 26px;
  width: 26px;
  top: 5%;
  left: 87%;
  transform: translateY(-5%) translateX(87%);
}
#exit-button{
  height: 25px;
  width: 25px;
  border: none;
  cursor: pointer;
  background-image: url('https://icons.iconarchive.com/icons/iconsmind/outline/24/Close-icon.png');
}
#header{
  cursor: not-allowed;
}
#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
}
#name{
  padding: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid #215fd1;
  width:90%;
  color: #1871d6;
  font-size: 20px;
}
#phone{
  padding: 10px;
  margin: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid #215fd1;
  width: 90%;
  color: #1871d6;
  font-size: 20px;
}
#button{
  color: #ffff;
  border-color: #f73942;
  background-color: #ff000d;
  font-size: 26px;
  font-family: Arial;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}
#button:hover{
  background-color: #0088ff;
}
